<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="lista"></ion-back-button>
    </ion-buttons>
    <ion-title>Conductor</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Tarjeta -->
<ion-content class="ion-text-center">
  <ion-card color="light" *ngIf="userDos && userDos.picture && userDos.picture.large">
    <img [src]="userDos.picture.large" [alt]="userDos.name?.first + ' ' + userDos.name?.last">
    <ion-card-header>
      <ion-card-title>{{ userDos.name?.first | uppercase }} {{ userDos.name?.last | uppercase }}</ion-card-title>
      <ion-card-subtitle>{{ userDos.company?.department }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Edad: {{ userDos.dob?.age }} <br>
         Correo: {{ userDos.email }} <br>
         Género: {{ userDos.gender }} <br>
         Celular: {{ userDos.phone }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <p>Desarrollado por RGG</p>
    <p>Todos los Derechos Reservados ©</p>
  </ion-toolbar>
</ion-footer>