<app-header class="ion-text-center"></app-header>

<br>
<ion-content class="ion-padding">
  <ion-img  src="/assets/images/recuperar.jpg" class="olvideContraseña">olvideContraseña</ion-img>
  <br>
  <form [formGroup]='formularioRecuperar'>
    <ion-input 
      formControlName="usuarioRecuperar"
      label="Nombre de usuario: " 
      label-placement="floating"
      fill="outline"
      placeholder="Ingrese nombre usuario: "
      type="text"
      color="warning">
    </ion-input>
    <div *ngIf="errorMessageu" class="error-message">
      {{ errorMessageu }}
    </div>
  
    <br>
    <ion-button color="warning" (click)="irALogin()" >Recuperar</ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <p>Desarrollado por RGG</p>
    <p>Todos los Derechos Reservados ©</p>
  </ion-toolbar>
</ion-footer>


