<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<br>
<ion-content class="ion-padding">
  <ion-img src="/assets/images/Duoc2.jpg" class="imagen1">DuocDrive</ion-img>
  
  <br>
  <form [formGroup]="formularioLogin" >
    <ion-input 
      formControlName="usuario"
      label="Nombre de usuario: " 
      label-placement="floating"
      fill="outline"
      placeholder="Ingrese nombre usuario: "
      type="text"
      color="warning"
      (keyup.enter)="irAInicio()">
    </ion-input>
    <div *ngIf="errorMessageu" class="error-message">
      {{ errorMessageu }}
    </div>
    <br>
    <ion-input 
      [clearOnEdit]="true" 
      formControlName="contraseña"
      label="Contraseña: " 
      label-placement="floating"
      fill="outline"
      placeholder="Ingrese Contraseña: "
      type="password"
      color="warning"
      (keyup.enter)="irAInicio()">
    </ion-input>
    <div *ngIf="errorMessagep" class="error-message">
      {{ errorMessagep }}
    </div>
    <br>
    <div class="button-container">
      <ion-button color="warning" (click)="irAInicio()">Ingresar</ion-button>
      <ion-button color="primary" (click)="irARecuperar()">Recuperar Contraseña</ion-button>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <p>Desarrollado por RGG</p>
    <p>Todos los Derechos Reservados ©</p>
  </ion-toolbar>
</ion-footer>


