.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.button-container ion-button {
  width: 100%;
  margin-bottom: 10px;
}

.imagen1 {
  border-radius: 12px;
  overflow: hidden;
}