<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista Conductores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="--ion-grid-column-padding: 10px;">
    <ion-row>
      <ion-col sizeMd="4" offsetSm="4" class="ion-margin" *ngFor="let user of users">
        <ion-card class="user-card">
          <ion-card-header class="ion-text-center">
            <ion-avatar class="large-avatar">
              <img src="{{ user.picture.large }}" alt="" class="image-border">
            </ion-avatar>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <h6 class="bold-name">{{ user.name.first | uppercase }} {{ user.name.last | uppercase }}</h6>
            <ion-button color="warning" shape="round" type="button" class="margin-top" (click)="detalle(user)">Ver más</ion-button>
          </ion-card-content>
        </ion-card>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <p>Desarrollado por RGG</p>
    <p>Todos los Derechos Reservados ©</p>
  </ion-toolbar>
</ion-footer>