.user-box {
    margin-bottom: 15px;
    border: 2px solid #2fdf75;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transparent-list{
    background-color: transparent !important;
}

.image-border{
    border-radius: 50%;
    background-color: rgb(159, 255, 215);
}