.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.button-container ion-button {
    width: 100%;
    margin-bottom: 10px;
}

.imagen{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
}

.bienvenida{
    margin-bottom: 0px;
}

.user{
    margin-top: 0px;
    color: rgb(247, 222, 0);
}
  
