<app-header class="ion-text-center"></app-header>

<br>
<ion-content class="ion-padding ion-text-center">
  <h3>Bienvenido a DuocDriver</h3>
  <h1> {{ nombreDeUsuario }} </h1>
  <br>
  <br>
  <ion-img src="/assets/images/duocd.jpg" class="ion-img ion-img-fixed">Mapa</ion-img>
  <br>
  <ion-button color="success" routerLink="/lista">Ver Conductores</ion-button>
  <ion-button color="danger" (click)="irCerrar()">Cerrar Sesión</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">Desarrollado por RGG</ion-title>
    <p class="ion-text-center">Todos los Derechos Reservados ©</p>
  </ion-toolbar>
</ion-footer>
